:root {
    --sidebar-width: 20%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff2e6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* div class */
.main{
  margin-left: var(--sidebar-width);
  padding: 3px;
  z-index: 1;
  background-color: #fff2e6;
  overflow: scroll;
}


/* table class */
table {
    border-collapse: collapse;
    background-color: #e0e0e0;
}  



th,td {
    border-bottom: solid 1px;
    padding: 0px;
    padding-right: 0px;
    min-height: 300px;
}

ul {
   padding: 0px;
   margin: 0px;
   list-style-type: none
}

.defaultButton {
  background-color: #4CAF50; /* Green */
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.buttonMainBorder {
  cursor: pointer;
  background-color: #4CAF50; /* Green */
  text-align: left;
  margin-top: 30px;
  margin-bottom: 10px;
  border: 0px solid;
  width: 100%;
  display: block;
  font-size: 30px;
}
